<div class="content-box story-box">
                    <p class="story-title">{{storyTitle}}</p>
                    <p class="story-contributers">{{storyAuthor}} <i class="fas fa-pen-fancy"></i></p>
                    <p class="story-likes">{{storyUpvotes}} <i class="fas fa-thumbs-up"></i></p>
                    <p class="story-snippet">{{storyText}}</p>
                </div>