<article class="twit">
    <div class="twit-icon">
      <i class="fa fa-bullhorn"></i>
    </div>
    <div class="twit-content">
      <p class="twit-text">
          {{storyText}}
      </p>
      <p class="twit-author">
        <a href="#">{{storyAuthor}}</a>
      </p>
    </div>
</article>