

			<div id="story-container"> 
				{{#each storyData}} 
					{{>story}} 
				{{/each}} 
			</div>



      <div class="start-story">

        <div class="start-head">
          <h2>Add another chapter to this story</h2>
        </div>

        <div class="start-body">
          <div class="input-element">
            <textarea placeholder="Write the chapter title for your story" id="title-input"></textarea>
          </div>
          <div class="input-element">
            <textarea placeholder="Write your story" id="text-input"></textarea>
          </div>
		  <div class="input-element">
            <textarea placeholder="Enter your name" id="author-input"></textarea>
          </div>
        </div>

        <div class="story-write">
          <i class="fas fa-pen-fancy" id="story-append"></i>
        </div>