
      <div class="start-story">

        <div class="start-head">
          <h2>Create a new story to share</h2>
        </div>

        <div class="start-body">
          <div class="input-element">
            <textarea placeholder="Write the prompt for your story" id="title-input"></textarea>
          </div>
          <div class="input-element">
            <textarea placeholder="Write the first sentence of your story" id="text-input"></textarea>
          </div>
		  <div class="input-element">
            <textarea placeholder="Enter some tags" id="tag-input"></textarea>
          </div>
        </div>

        <div class="story-write">
          <i class="fas fa-pen-fancy" id="story-push"></i>
        </div>
	
      </div>