<div class="start">
	<h2 id="prompt-head"> Fill out all the fields to create a new story </h2>
	<ul class="start-story">
					<li><input type="text" class="prompt-input" id="title-input" placeholder="Enter a title"></li>
					<li><input type="text" class="prompt-input" id="text-input" placeholder="Give a sentence to start the story"></li>
					<li><input type="text" class="prompt-input" id="tag-input" placeholder="Add tags to your story"></li>
	</ul>
	<i class="fas fa-pen-fancy"></i>
</div>