
      <div class="start-story">

        <div class="start-head">
          <h2>Create a new story to share</h2>
		  <h3>Write a title for your story and a chapter to get it started</h3>
		  <h3>Users from around the world can then continue to keep adding more and more to your story</h3>
        </div>

        <div class="start-body">
          <div class="input-element">
            <textarea placeholder="Write the chapter title for your story" id="title-input"></textarea>
          </div>
          <div class="input-element">
            <textarea placeholder="Write your story" id="text-input"></textarea>
          </div>
		  <div class="input-element">
            <textarea placeholder="Enter your name" id="author-input"></textarea>
          </div>
        </div>

        <div class="story-write">
          <i class="fas fa-pen-fancy" id="story-push"></i>
        </div>
	
      </div>