        <div class="flexcontainer">
            <div class="filter-box">
                <div class="content-box" id = "sort-box">
                    <p class = "box-title">Sorted by:
                        <button type="button" name="sort" class='toggle-button active'>
                            popular
                        </button>
                        <button type="button" name="sort" class="toggle-button">
                            new
                        </button>
                    </p>
                </div>
            </div>

			<div id="story-container"> 
				{{#each storyData}} 
					{{>story}} 
				{{/each}} 
			</div>

            <div class="content-box" id="about-box">
                <p class = "box-title"> What is Storyboard? </p>
                <p class = "about-text">
                    Storyboard is a website that allows users from all over the
                    world to write stories together, piece by piece. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Cras ultrices
                    facilisis pulvinar. Nam tincidunt nibh nec neque molestie
                    tristique. Donec ullamcorper nibh vel volutpat placerat.
                    Maecenas vehicula non dolor a luctus. Praesent eget ultricies
                    quam, vel bibendum ante. Nullam sem turpis, tempus lobortis
                    magna vel, suscipit gravida ipsum. Aliquam erat volutpat.
                    Vivamus venenatis a turpis sed accumsan. Nullam tincidunt
                    sapien eu finibus tincidunt. Suspendisse dui neque, dapibus
                    id posuere sed, consectetur vitae urna. Morbi aliquet neque
                    sit amet sem semper interdum.
                </p>
            </div>
        </div>