body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: #E8EDDF;
  color: #362C28;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px 10px 10vw;
  font-size: 30px;
  font-weight: 100;
  background-color: #362C28;
  color: #D4FCC3;
}

.navbar {
  background-color: #D4FCC3;
  font-size: 18px;
  line-height: 22px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.17);
}

.navlist {
  margin: 0 0 0 10vw;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #362C28;
}

a:hover,
a:focus {
  color: #328441;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #328441;
}

.navbar-search {
  float: right;
  margin-right: 10vw;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #8FD694;
  border-radius: 5px;
  width: 20vw;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #362C28;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #44B559;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

@media (max-width: 1062px) {
    .navlink {
        font-size: 30px;
    }

    #link-text {
        display: none;
    }

    a:hover,
    a:focus {
        background-color: #328441;
        color: #362C28;
    }

    .navlink.active {
        background-color: #328441;
    }

    .site-title {
        text-align: center;
        padding-left: 0;
    }

    .navbar {
        text-align: center;
    }

    .navlist {
        margin-left: 0;
        font-size: 0;
    }

    .navbar-search {
        display: none;
    }

    .filter-box {
        flex-grow: 1;
        width: auto;
    }

    #about-box {
        flex-grow: 1;
        width: inherit;
    }

    #story-container {
        width: 80vw;
    }
}

.flexcontainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 10vw 0 10vw;
    /* min-width: 900px; */
}

.toggle-button {
    flex-grow: 1;
    margin: 2px;
    background-color: #8FD694;
    color: #E8EDDF;
    text-align: center;
    padding: 4px;
    border: none;
    cursor: pointer;
}

.toggle-button.active {
    background-color: #328441;
    color: #D4FCC3;
    border: 2px solid #8FD694;
}

.toggle-button:hover {
    background-color: #328441;
    color: #D4FCC3;
}

.content-box {
    background-color: #D4FCC3;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.05);
    padding: 15px;
    margin: 10px;
}
    .filter-box {
        width: 300px;
    }

    #sort-box {
        margin-bottom: 20px;
    }

        .box-title > .toggle-button {
            font-size: 20px;
        }

    #tag-box {
    }

        .box-title {
            font-size: 20px;
            margin: 0px 0px 10px 0px;
        }

        .taglist > .toggle-button {
            font-size: 16px;
        }

    #story-container {
        min-width: 550px;
        flex: 1 1 500px;
    }

    .story-box {
        position: relative;
		overflow: auto;
		word-wrap: break-word;
    }

    .story-title {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        width: 50%
    }

    .story-date {
        margin: 0;
        color: #328441;
        font-style: italic;
        width: 50%
    }

    .story-contributers {
        position: absolute;
        top: -2px;
        right: 45px;
        font-size: 20px;
    }

    .story-likes {
        position: absolute;
        top: 23px;
        right: 45px;
        font-size: 20px;
    }
	
	.story-snippet {
		padding-top: 12px;
	}

    ul {
        padding: 0;
        margin: 0;
    }
    .story-tag {
        display: inline-block;
        font-style: italic;
        color: #328441;
    }

    #about-box {
        width: 250px;
    }

        .about-text {
            margin: 0px;
            text-align: justify;
        }
.start-story {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #D4FCC3;
  border-radius: 15px;
}

.start-head h2 {
	padding: 10px;
	margin: 0;
	font-size: 28px;
	text-align: center;
}

.start-body {
  padding: 20px;
}

.input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.input-element input,
.input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.input-element textarea {
  min-height: 64px;
}

.story-write {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.story-write #story-push {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}


.story-write #story-push {
  background-color: #319df6;
  color: #fff;
  border-radius:50%;
}

.story-write #story-push:hover {
  background-color: #087dde;
}

.error-container {
	margin-top: 50px;
	text-align: center;
}

.error-container h2 {
	margin: 10px 0;
	font-size: 96px;
	font-weight: 100;
}

.error-container h3 {
	margin: 10px 0;
	font-size: 36px;
	font-weight: 400;
}
